@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@1,100&display=swap');
p{
  font-family: 'Glory', sans-serif;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* .cards{
  width: 100%;
  display:flex;
  justify-content: center;
} */
/* .card{
  width:5%;
  height:auto;
} */
/* 
.card{
  width: 18%;
  padding: 15px;
  float: left;
  border-radius:10px;  
}
.card:hover{
  box-shadow: 10px 4px 5px gray;

}
.card img{
  width:100%;
  height:auto;
}
.card a{
  padding: 10px;
  background-color: cornflowerblue;
  text-decoration: none;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  cursor:pointer;
}
.card-body{
  text-align: center;
} */


/* Header and nav section */

.navbar-nav li .nav-link{
color: rgb(255, 153, 55)!important;
/* padding-bottom: 25px; */
text-transform: uppercase;
padding: 10px 18px!important;
}

.blue{
  background:rgb(255, 153, 55,0.9)!important;
  color: white!important;
}
.blue ul li .nav-link{
  color: white!important;
}
.blue ul li button{
  color: white!important;
  border-color: white;
}
.navbar1{
  position: fixed!important;
  top: 0;
  z-index: 999;

}

/* .navbar-expand-md .navbar-nav .nav-link {
 
} */
.navbar-brand img{
  width: 100%;
  height: auto;
}
.login-btn{
  background-color: transparent;
    border: 1px solid  rgb(255, 153, 55);
    border-radius: 25px;
    color:rgb(255, 153, 55) ;
    transition: 0.4s;
    padding: 2px 15px;
    transition: 0.7s;
    margin-top: 8px;
}
.login-btn:hover{
  background-color: transparent;
    background-color: rgb(255, 153, 55);
    border-radius: 25px;
    color:white;

}
.section1{
  background-image: url('images/header.png');
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  /* width: 100%;
  height: auto; */
  padding-top: 95px!important;
  margin-top: 5.5%;
}
.nav-sec{
  background-color: rgb(240, 250, 252);
}
.header-right{
  width: 100%;
  height: auto;
  padding-bottom: 25px;
}
.header-left{

  padding: 25px;
  padding-right: 70px;
 

}
.header-left h1{
font-weight: 700;
padding-top: 70px;
text-transform: uppercase;
}
.header-left h1 span{
  color: rgb(255, 153, 55);
  
  }
  .header-left p{
font-family: Arial, Helvetica, sans-serif;

    }
    .contact-btn{
    background-color: transparent;
    border: 3px solid  rgb(255, 153, 55);
    border-radius: 25px;
    padding: 7px 50px 7px 20px;
    color:rgb(255, 153, 55) ;
    transition: 0.4s;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    }
    .contact-btn span{
      padding: 7px;
     background-color:rgb(255, 153, 55) ;
     color: white;
     position: absolute;
     right: -1px;
     top: 0;
     bottom: 0;
     border-radius: 50%;
    }
    .contact-btn:hover{
      background-color:rgb(255, 153, 55);
      color: white;
    }
    .navbar-brand img{
      width: 100%;
      height: auto;
    }
    @media only screen and (max-width: 344px) {
      .navbar-brand{
        width: 70%;
        height: auto;
      }
    }
    @media only screen and (max-width: 992px) {
    
.navbar-nav li .nav-link{
  color: rgb(255, 153, 55)!important;
  /* padding-bottom: 25px; */
  text-transform: uppercase;
  padding: 10px 5px!important;
  }
    }
    /*end Header and nav section */
    /* about section */
    .about-sec{
      background-image: url('images/header2.png');
      /* background-position:center; */
      background-size:cover;
      background-repeat: no-repeat;
      /* background-origin: border-box; */
      /* width: 100%;
      height: auto; */
      padding: 100px 0px;
    }
    .about-right{
      padding-right: 50px;
      padding-bottom: 50px;
    }
    .about-right h5{
color: rgb(255, 153, 55);
margin-bottom: 0;
    }
    .about-right h4{
  text-transform: uppercase;
          }
          .about-right p{
          font-family: Arial, Helvetica, sans-serif;
          padding-right: 40px;
                    }
                    .about-right ul{
                      margin-left: 0;
                      padding-left: 0;
                    }
                    .about-right ul li{
                      list-style: none;
                      padding-left: 30px;
                      padding-top: 10px;
                      padding-bottom: 10px;
                    }
                    .about-right ul li:before{
                      content:url('images/tick.png'); /* with class ModalCarrot ??*/
                      position:relative; 
                      left:-20px;
                      top:10px;
                    }
/* end about section */
/* card section */
  
.card-sec{
  background-image: url('images/cardbg.png');
  background-position: center;
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-origin: border-box;
  width: 100%;
  height: auto;
  padding-top: 30px;
  /* padding: 100px 0px; */
}
.second .card-img-top{
  width: 30%!important;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%!important;
}
.card-dev{
  background-color: rgb(244, 249, 250)!important;
  border: none!important;
  padding: 30px;
  
}
.card-dev p{
  font-size: 26px;
line-height: 25px;
}
.top-card-text span{
  color:rgb(255, 153, 55);
}



.main{
  position:relative;
 
  }
  .first {
position: absolute;
    width: 100%;
    height: auto;
    background: rgb(255, 153, 55);
    top:0;
  left:0;
  right:0;
  bottom:0;
  border-radius: .25rem;
    transition: width 0.7s, height 0.7s, transform 0.7s;
    transition: 0.7s;
  }
  .second{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
margin-bottom: 50px;
  }
  
  .main:hover .first {
  
    transform: rotate(6deg);
  }
  .main:hover .second {
  
    background-color: rgb(255, 255, 255)!important;
    box-shadow: 0 0 10px rgb(173, 171, 171);
  }

  /* portfolio section */
  .portfolio-sec{
padding-top: 85px;
  }
  .top-card-text ul li:before{
    content:url('images/icon1.png'); /* with class ModalCarrot ??*/
    position:relative; /*or absolute*/
  
    left:-20px;
    top:10px;
  }
  .top-card-text ul .li-2:before{
    content:url('images/icon2.png'); /* with class ModalCarrot ??*/
    position:relative; /*or absolute*/
    left:-20px;
    top:10px;
  }
  .top-card-text ul .li-3:before{
    content:url('images/icon3.png'); /* with class ModalCarrot ??*/
    position:relative; /*or absolute*/
    left:-20px;
    top:10px;
  }
  /* gallary */
  .gallary-sec{
    background-image: url('images/cardbg.png');
    background-position: center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    width: 100%;
    height: auto;
    padding-top: 85px;
  }
  .gallery_product{
  padding:0!important;
  }
  .btn {
    border: none!important;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(255, 153, 55) !important;
    margin-left: 10px;
    margin-top: 10px;
  }
  .btn:hover {
 color: white!important;
    background-color:rgb(255, 153, 55) !important;;

  }
  .content{
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:rgb(28, 12, 21,0.7);
  }
  .content:hover .overlay {
    opacity: 1;
  }
  .icon {
    color: white;
    font-size: 70px!important;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(255, 153, 55);
    border-radius: 50%;
    animation: mymove 0.5s infinite alternate-reverse ease-in;
  
    left: 50%;
  }
  @keyframes mymove {
    0% {top: 10%;}
    100% {top:50%;}
  }
  .view-more{
    padding: 35px;
  }
/* slider sec */
.slider-sec{
  padding-top: 85px;
}
  .card1{
    position: relative;
     padding:8px;
    background-color: rgb(238, 246,247)!important;
border: none!important;
border-radius: 25px!important;
transition: 1s;
}
.card-img-top1{
  width: 80%;
  height: auto;
/* position: absolute; */
border-radius: 25px!important;
margin-top: 15px;
margin-left:-50px;
}
.card1 ul{
position: absolute;
right: 15px;
top: 60px;
list-style: none;

}
/* .card1{
padding-top: 380px;
} */
/* .card1 ul li{
  padding:10px;
  background-color: green;
  border-radius: 50%;
} */
.card1 ul li:nth-child(1){
  text-align: center;
vertical-align: middle;
padding-top: 5px;
  height: 30px;
  width: 30px;
  background-color: rgb(59, 89, 152);
  border-radius: 50%;
  color: white;
  margin-bottom: 15px;
}
.card1 ul li:nth-child(2){
  text-align: center;
vertical-align: middle;
padding-top: 4px;
  height: 30px;
  width: 30px;
  background-color: rgb(220, 78, 65);
  border-radius: 50%;
  color: white;
  margin-bottom: 15px;
}
.card1 ul li:nth-child(3){
  text-align: center;
vertical-align: middle;
padding-top: 4px;
  height: 30px;
  width: 30px;
  background-color: rgb(0, 122, 185);
  border-radius: 50%;
  color: white;
  margin-bottom: 15px;
}
.card1 ul li:nth-child(4){
  text-align: center;
vertical-align: middle;
padding-top: 4px;
  height: 30px;
  width: 30px;
  background-color: rgb(85, 172, 238);
  border-radius: 50%;
  color: white;
  margin-bottom: 15px;
}
  .card-title1{
    color: rgb(255, 153, 55)!important;
    text-shadow: 2px 2px 10px gray;
  }
  .card-text1{
    font-weight: 900!important;
  font-size: 16px;
  text-decoration-style: solid;
  }
  
  .card1:hover{
    background-color: rgb(255, 153, 55)!important;
  }
  .card1:hover .card-text1{
    color: white!important;

  }
  .card1:hover .card-title1{
    color: white!important;

  }
  .controll{
    border-radius: 50%!important;
    padding:0!important;
    height: 18px!important;
    width: 18px!important;
  }
  /* footer */
  .footer-text{
    color: white;
    align-items: flex-end;
  }
  .footer-text ul{
    list-style: none;
    padding-left: 20px;
    padding-top: 25px;
    /* padding-bottom: 25px; */
    color: white;
  }
  .footer2 ul{
    list-style: none;
    padding-left: 0;
    display: flex!important;
  }
  .footer2 ul li{
height: 40px;
width: 40px;
border-radius: 50%;
margin-left: 15px;
text-align: center;

  }
  .footer2 ul li .fa{
    font-size: 20px;
    padding-top: 10px;
      }

      .footer2 ul li:nth-child(1){
      
        background-color:rgb(0, 172, 237);
        color: white;
      
          }
          .footer2 ul li:nth-child(2){
      
            background-color:rgb(59, 89,152);
            color: white;
          
              }
              .footer2 ul li:nth-child(3){
      
                background-color:rgb(203, 32, 40);
                color: white;
              
                  }

                  .footer-text ul::before{
                 content: " ";
                 width: 3px;
                 height:45px;
                 position: absolute;
                 background-color: rgb(255, 153, 55);
                 left: 5px;
                  }
        .footer-sec{
background-color: rgb(17, 4,0);
        }
        .bottom-footer{
background-color: rgb(255, 153, 55);
color: white;
font-weight: 600;
padding: 20px;
        }
       
        /* round slider */
        .customer-feedback .owl-item img {
          width: 85px;
          height: 85px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50%;
      }
        
        img {
          max-width: 100%;
        }
        
       
        
        .section-title {
          font-size: 28px;
          margin-bottom: 20px;
          padding-bottom: 20px;
          font-weight: 400;
          display: inline-block;
          position: relative;
        }
        .section-title:after,
        .section-title:before {
          content: "";
          position: absolute;
          bottom: 0;
        }
   
        /* CAROUSEL STARTS */
        .customer-feedback .owl-item img {
          width: 85px;
          height: 85px;
        }
        
        .feedback-slider-item {
          position: relative;
          padding: 60px;
          margin-top: -40px;
          background-color: rgb(255, 164, 55);
        }
        
        .customer-name {
          margin-top: 15px;
          margin-bottom: 25px;
          font-size: 20px;
          font-weight: 500;
        }
        
        .feedback-slider-item p {
          line-height: 1.875;
          color: white;
        
        }
        
        .customer-rating {
          background-color: #eee;
          border: 3px solid #fff;
          color: rgba(1, 1, 1, 0.702);
          font-weight: 700;
          border-radius: 50%;
          position: absolute;
          width: 47px;
          height: 47px;
          line-height: 44px;
          font-size: 15px;
          right: 0;
          top: 77px;
          text-indent: -3px;
        }
        
        .thumb-prev .customer-rating {
          top: -20px;
          left: 0;
          right: auto;
        }
        
        .thumb-next .customer-rating {
          top: -20px;
          right: 0;
        }
        
        .customer-rating i {
          color: rgb(251, 90, 13);
          position: absolute;
          top: 10px;
          right: 5px;
          font-weight: 600;
          font-size: 12px;
        }
        
        /* GREY BACKGROUND COLOR OF THE ACTIVE SLIDER */
        .feedback-slider-item:after {
          content: "";
          position: absolute;
          left: 20px;
          right: 20px;
          bottom: 0;
          top: 103px;
          background-color: #f6f6f6;
          border: 1px solid rgba(251, 90, 13, 0.1);
          border-radius: 10px;
          z-index: -1;
        }
        
        .thumb-prev,
        .thumb-next {
          position: absolute;
          z-index: 99;
          top: 45%;
          width: 98px;
          height: 98px;
          left: -90px;
          cursor: pointer;
          transition: all 0.3s;
        }
        
        .thumb-next {
          left: auto;
          right: -90px;
        }
        
        .feedback-slider-thumb img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          overflow: hidden;
        }
        
        .feedback-slider-thumb:hover {
          opacity: 0.8;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        }
        
        .customer-feedback .owl-nav [class*="owl-"] {
          position: relative;
          display: inline-block;
          bottom: 45px;
          transition: all 0.2s ease-in;
        }
        
        .customer-feedback .owl-nav i {
          background-color: transparent;
          color: rgb(251, 90, 13);
          font-size: 25px;
        }
        
        .customer-feedback .owl-prev {
          left: -10px;
        }
        
        /* .customer-feedback .owl-prev:hover {
          left: -20px;
        } */
        
        .customer-feedback .owl-next {
          right: -10px;
        }
        
        /* .customer-feedback .owl-next:hover {
          right: -20px;
        } */
        
        /* DOTS */
        .customer-feedback .owl-dots {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 35px;
        }
        .customer-feedback .owl-dot {
          display: inline-block;
        }
        
        .customer-feedback .owl-dots .owl-dot span {
          width: 11px;
          height: 11px;
          margin: 0 5px;
          background: #fff;
          border: 1px solid rgb(251, 90, 13);
          display: block;
          -webkit-backface-visibility: visible;
          transition: all 200ms ease;
          border-radius: 50%;
        }
        
        .customer-feedback .owl-dots .owl-dot.active span {
          background-color: rgb(251, 90, 13);
        }
        
        /* RESPONSIVE */
        @media screen and (max-width: 767px) {
          .feedback-slider-item:after {
            left: 30px;
            right: 30px;
          }
          .customer-feedback .owl-nav [class*="owl-"] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 45px;
            bottom: auto;
          }
          .customer-feedback .owl-prev {
            left: 0;
          }
          .customer-feedback .owl-next {
            right: 0;
          }
        }
        
        /* extra */
        .copyright {
          text-align: center;
          margin-top: 30px;
          font-size: 1.6rem;
          background-color: #eee;
        }
        .copyright a {
          display: inline-block;
          padding: 10px 2px;
        }
        .upwork {
          color: #37a000;
        }
        .upwork:after {
          content: "/";
          margin-left: 10px;
        }
        .fiverr {
          color: #1dbf73;
        }
        .copyright .triplebyte {
          display: block;
          padding-top: 0;
          color: #344759;
          text-decoration: underline;
        }
        @media screen and (max-width:520px) {
          .thumb-prev{
            display: none;
          }
          .thumb-next{
            display: none;
          }
          .fa-long-arrow-right:before {
            content: "\f178";
            right: 80px;
        }
        .section1{
          padding-top: 20px!important;
        }

        }
        .roundslider-sec{
          padding-top:120px ;
          padding-bottom: 100px;
          background-image: url('images/roundbg.png');
          background-position: center;
          background-size:100% 100%;
          background-repeat: no-repeat;
          background-origin: border-box;
          width: 100%;
          height: auto;
        }