
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    color: white;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.price li:nth-child(2) {
    color: #111;
}
.price:hover {
    box-shadow: 0 8px 12px 0 #eee;
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
.columns:hover{
  animation: mymove 1s ease-in-out infinite alternate-reverse both;
  cursor: pointer;
}
.card:hover{
  animation: mymove 0.5s ease-in-out infinite alternate-reverse both;
  cursor: pointer;
}
.img-sec:hover{
  animation: none;
}
.img-sec{
  animation: mymove 0.5s ease-in-out infinite alternate-reverse both;
}
@keyframes mymove {
  0% {transform: translateY(5px);}
  100% {transform: translateY(-5px);}
}